{{ define "top" }}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ .title }}</title>
    <link rel='stylesheet' href='/assets/style.css' />
  </head>
  <body>
{{ end }}
    
{{ define "bottom" }}
  </body>
</html>
{{ end }}